*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("./giphy.gif") center no-repeat black;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 380px;
    min-width: 500px;
    

}


